
.backgroundImage{
    margin: 0%;
    padding: 0%;
    background-image:url(backgroundForm.webP) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  ;
    height: 150vh
}  

.title{
    font-size: 3em;
    margin-left:25% ;

}

.form{
    background:#56B5E3  ;
    border-radius: 10px;
    width: 55vw;
    padding:30px;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    backdrop-filter: blur(10px);     
}


/* this is the first section containing the information on the patients */





.radio01{
    display: flex;
    flex-direction:row

}





.info{
    text-align: center;
    margin-top: 10px ;
    margin-bottom:10px ;
    padding-bottom: 15px;  
    padding-top: 15px;
    width: 20vw;
    background-color:#ffffff27 ;  
    border-radius: 15px;
    border:none;
    font-size: 1em;
    
}




.info2{
    
    margin-top: 20px ;
    margin-bottom:20px ;
}
.info3{
    margin-top:15px;
    margin-bottom:20px
}

.info4{
    margin-left: 7vw;
    display: block;

}




.info-global{
    width:25vw;
    text-align:left;
}

.labelContainer{
    margin-left: 20px;
    font-size: 25px;

}

.info-details{
    display: inline-flex;
}


/* this is the second section of the information where the appointment is placed */

.appointmentSub{
    font-size: 20px;
    margin:0 auto;
    text-align: center;
    text-decoration: underline;
}

.appointmentHeading{
    margin-left: 170px;
    margin-top: 50px;
}

.listItems{
    list-style: none;
    display: flex;
    flex-direction: row;
   
}




.app1{
    margin-left: 60px;
    margin-top:20px;
    margin-bottom:5px;
    margin-right:25px ;
    padding-left: 20px;
    font-size: 20px;
    

}
.app01{
    /* margin shorthand top right bottom left */
    margin:20px 25px 5px 40px;        
    padding-left: 20px;
    font-size: 20px;
    
}

.appoint{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.textarea{
    text-align: center;
    resize: none;
    font-size:1em;
    height: 70px;
    background-color:#bbe6e438 ;  
    border-radius: 10px;
    border: none;
    font-size: 1em;
    text-align: center;
    margin-left: 60px;
    margin-top: 10px ;
    margin-bottom:10px ;
    padding-bottom: 15px;  
    padding-top: 15px;
    width: 20vw;
    
}


.time{
    padding: 10px;
    margin: 5px;
    font-size: 20px;

}

.app-time{
    padding: 10px;
   
}


.submit_button{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.button[type="submit"]{
    padding-top:20px ;
    padding-bottom:20px ;
    padding-left:20px ;
    padding-right:20px ;
    border-radius: 10px;
    box-shadow:0 12px 16px 0 #2fc86ca4 0 17px 50px 0 #abe0ee;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: #2fc86ca4;

}


.app01{
    justify-content: space-between;
}


.app-time{
    display: block;
    padding:10px;
    margin-bottom: 25px;
}

.time{
    margin-left: 15vw;
   
}



@media (max-width:1024px ){

    .container{
        margin:0 auto;
    }

   
    .title{
        font-size: 35px;
        margin-left: 150px;
    }

    .info-global{
    width: 35vw;
    text-align: left;
    
    }
   .info-details {
    display: inline-flex;
   
}

    .form{
        border-color: black;
        margin:10px auto;
        padding:10px;
        width:80vw;
        border:1px solid #56B5E3;

    }

    

    .appointmentHeading{
        margin-left:70px
    }
     .app01{
        margin-left: 15px;
    } 

    .textarea{
        margin-left:25px;
        width:40vw
    }
    .radio01{
        /* margin-top:10px; */
        margin-bottom:20px;
        margin-right: 0px;
        margin-left:50px ;
        
    } 
    
    .appoint{
        display: flex;
        flex-direction: column;
        align-content: space-between;
        margin-left: 0px;
    }

     .time{
        margin:0 auto;
     }

     .submit_button{
        margin-left: 180px;
     }
}
@media (max-width:768px ){
    
    
    .info{
        margin-bottom:10px ;
       
    }

    .form{    
    
        width: 75vw;
        padding: 5px;
        border:1px solid #56b4e328;
        margin: 0;
        margin-top: 45px;
        margin-left:90px

    }


    .info-global{
        width: 45vw;
        text-align: left;
        
    }

    .title{
        font-size: 40px;
        text-align: center;
        margin-left: 140px;
    }

    /* img{
        position:relative  ;
        width: 70px;
        margin: 2px;
    }

    aside{
        padding:0;
        margin:0;
        position: static;
        
    } */
    
}

@media (max-width:425px){
    .title{
        margin-left: 150px;
        font-size: 35px;
    }
    

     .heading-form{
        margin-left: 50px ;
        
    } 
    

    .form{
        width: 85vw;
        margin:30px auto;
    }
/*     
    img{
        position:static  ;
        width: 50px;
        margin: 2px;
    } */

    .info-details{
        display:flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;

    }
    
    /* label{ */
        /* display: inline; */
        /* font-size: 19px;
        text-align: center;

    } */

    .info-global{
        margin-left:90px
    }
    .info-global01{
        margin-left:25px
    }

    .radio01{
        margin-left: -40px;
        padding: 10px;

    }

    .info{
    text-align: center;
    width: 50vw;
    font-size: 1em;}

    .appointmentHeading{
        margin-left: 40px;
    }

    .listItems{
        list-style: none;
        display: flex;
        flex-direction: column-reverse;
        
    }

    .textarea{
        width: 50vw;
        margin-left: 20px;
    }
    .app1{
        margin-left: 15px
    }
    
    
    
    }
@media (max-width:375px){
    .form{
        
        width:100vw

    }
    .title{
        margin-left: 120px;
        font-size: 25px;
    } 

    .listItems{
        list-style: none;
        display: flex;
        flex-direction: column-reverse;
        
    }
   
} 
@media (max-width: 320px){
    .heading{
        margin-left: 10px;
        font-size: 25px;
        margin-top: 0;
    } 

   
    .form{
      
        margin:0px 20px;
        padding:10px;
        width:100vw;
        

    }

    .container{
        margin-top: 0 ;
    }
    .listItems{
        list-style: none;
        display: flex;
        flex-direction: column-reverse;
        
    }
}

