/* Modal */
.btn-modal {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #56b5e3;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1001;
}

.btn-modal:hover {
    background-color: #007bff;
}

.modal {
    color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Form styles */
.form-container {
    display: flex;
    flex-direction: column;
}

.heading-form {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
}
/* input fields */
.user-input {
    border: 2px solid #56b5e3;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}
/* Textarea */
.textarea-container {
    border: 2px solid #56b5e3;
    border-radius: 5px;
    padding: 10px;
    resize: none;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}

.experience {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.input-labels {
    margin: 5px 0;
}
/* submit button */
.submitButtonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#submitButton, .close-modal {
    background: #56b5e3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

#submitButton:hover, .close-modal:hover {
    background: #007bff;
}

@media (max-width: 768px) {
    .modal-content {
        width: 95%;
    }
}
