/* General Styling ----------------------------------------*/


/* header styling ------------------------------------------*/
.header {
  background-color: #327f92;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 100px;
}

.header .logo {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.header .logo img {
  width: 100px;
  transition-duration: 0.5s;
}

.header .logo img:hover {
  width: 100px;
  transform: scale(2);
  transition-duration: 0.5s;
}

.header span {
  margin-right: auto;
}

.header .profile {
  display: flex;
  align-items: center;
}

/* this styling will act as a placeholder
  for profile pictures */
.profile .fa-solid {
  background: #bbe6e4;
  padding: 0.5rem;
  border-radius: 100%;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.profile .fa-solid:hover {
  transform: scale(1.5);
  transition-duration: 0.5s;
}

/* Navbar styling -------------------------------------------*/

.navbar-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.navbar-container ul .navLink {
  text-decoration: none;
  color: white;
  margin: 0 20px;
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.navbar-container ul .navLink:nth-child(-n + 5) {
  background: linear-gradient(to left, #327f92 50%, #bbe6e4 50%) right;
  background-size: 220%;
  transition: 0.5s ease-out;
}

.navbar-container ul .navLink:hover {
  padding: 0.5rem;
  border-radius: 0.3rem;
  background-position: left;
}

/* Sidebar Styling -------------------------------------------*/

#menu-toggle {
  display: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  background-color: #327f92;
  align-items: center;
}

.hamburger span {
  width: 5%;
  height: 3px;
  border-radius: 50%;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
}

.sidebar-container {
  width: 20%;
  background-color: #327f92;
  padding: 20px;
  color: white;
  box-sizing: border-box;
}

.sidebar-container .sidebar {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-container .sidebar .sideLink {
  padding: 10px 0;
  cursor: pointer;
  border-bottom: 1px solid #3e5572;
  border-radius: 0.3rem;
}

.sidebar-container .sidebar .sideLink:hover {
  color: #3e5572;
  background-color: #bbe6e4;
  padding-left: 10px;
  transition: all 0.3s;
}

.sidebar-container .badge {
  background-color: #42bfdd;
  padding: 2px 5px;
  border-radius: 12px;
  margin-left: 10px;
}

/* middle and right Section ------------------------------------*/
.content {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  background-image: none;
  width: 80%;
}

.display {
  width: 80%;
  height: 1000px;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.display h3 {
  color: #42bfdd;
  font-weight: 500;
  margin-bottom: 20px;
}

.display .event {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  border-left: 4px solid #42bfdd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.display .event-date {
  font-size: 14px;
  color: #777;
  margin-bottom: 5px;
}

.display .event-details p {
  margin: 5px 0;
}

/* Right Sidebar styling -----------------------------------------*/
.right-sidebar {
  width: 80%;
  padding-left: 20px;
}

.announcements,
.medications {
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 20px;
  border-left: 4px solid #42bfdd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.announcements h3,
.medications h3 {
  margin-top: 0;
  color: #42bfdd;
}

.medications ul {
  list-style-type: none;
  padding: 0;
}

.medications ul li {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}
/* footer styling ------------------------------------------------*/
footer {
  width: 100%;
  display: flex;
  color: white;
}

footer .footer-img {
  width: 30%;
  /*background: url("/src/media/hero.jpg");*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

footer .footer-img h5 {
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: rgb(255, 255, 255, 0.8);
  color: #2c2c2c;
  border-radius: 5px;
}

.footer-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  list-style: none;
}

.footer-socials li {
  margin-right: 1rem;
  font-size: 1.5rem;
}

footer .footer_list-box {
  width: 100%;
  background-color: #327f92;
  padding: 1rem 5rem;
}

.footer_list-box h5 {
  text-align: center;
  font-size: 1rem;
}

.footer_list-box i {
  margin-right: 0.5rem;
}

.footer_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_list li {
  list-style: none;
  line-height: 1.4rem;
}

.footer-text {
  border-top: 1px solid white;
  padding-top: 10px;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
}

/* Media Queries for Mobile Devices ---------------------------------*/
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
    height: 160px;
  }

  .header #title {
    display: none;
  }

  .header img {
    scale: 2;
  }

  .header img:hover {
    scale: 1;
  }

  .navbar-container {
    flex-direction: column;
    padding: 10px 0;
  }

  .navbar-container ul {
    flex-direction: column;
    align-items: center;
  }

  .navbar-container ul .navLink {
    margin: 5px 0;
  }

  .container {
    flex-direction: column;
  }

  .hamburger {
    display: flex;
  }

  .sidebar-container {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 340px; /* Adjust as per header height */
    left: 0;
    width: 100%;
    background-color: #327f92;
    padding: 20px 0;
    z-index: 1000; /* Ensure it appears on top */
  }

  /* Show the sidebar when the checkbox is checked */
  #menu-toggle:checked + .hamburger + .sidebar-container {
    display: flex;
    opacity: 1;
    animation-duration: 1s;
  }

  /* Hamburger animation */
  #menu-toggle:checked + .hamburger span:nth-child(1) {
    transform: rotate(45deg) translate(10px, 5px);
  }

  #menu-toggle:checked + .hamburger span:nth-child(2) {
    opacity: 0;
  }

  #menu-toggle:checked + .hamburger span:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -5px);
  }

  .content {
    width: 100%;
  }

  .display,
  .right-sidebar {
    width: 100%;
  }

  footer {
    flex-direction: column;
  }

  .footer-img {
    position: absolute;
  }

  .footer_list-box {
    width: 100%;
    padding: 1rem;
  }
}
