/* SignUpForm.css

.Main_SignUp{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsla(181, 24%, 65%, 0.486);
}

.Body_SignUp {
  padding: 0 12px;
  width: 50vw;
  height: 300vh;
}



/* Header Section */
.Header {
  display: flex;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  font-weight: bold;
  margin: 0 20px;
  border-radius: 6px;
  color: #426572cb;
  background-color: rgb(248, 248, 248);
  font-size: x-large;
  text-decoration: solid;
}

.Header:hover {
  box-shadow: 0 12px 16px 0 rgba(30, 37, 37, 0.397);
}

/* Intro Section */
.Intro {
  align-items: center;
  display:flex;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  margin:0 20px;
 
}

.Header_1{
  font-size:x-large;
}
.Header_2{
  font-size: larger;
}

/* Date Registration Section */
.Main_Header{
  align-items: center;
  display:flex;
  justify-content: center;
}

.Dateregistration input[type="date"] {
  width: 100%;
  height: 70%;
  padding: 12px 12px;
  margin: 8px 0;
  border: 2px solid rgba(58, 161, 192, 0.829);
  border-radius: 4px;
  box-sizing: border-box;
}

.Date{
  font-size: large;
}

/* Patient Details Section */
.Patient_Details{
  text-align: center;
}
/* .Patient_Details_Form {
 
} */

.Patient_Details_Form input[type="text"],
.Patient_Details_Form input[type="number"],
.Patient_Details_Form input[type="tel"],
.Patient_Details_Form input[type="email"],
.Patient_Details_Form input[type="password"],
.Patient_Details_Form select {
  width: 23vw;
  padding: 12px;
  margin: 8px 3px;
  border: 2px solid rgb(52, 153, 160);
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  border: 2px solid rgb(52, 153, 160);
  border-radius: 4px;
  resize: none;
  padding: 5px;
  font-size: 15px;
}

/* Emergency Contact Section */
.Emergency_Contact {
  text-align: center;
}

/* Address Section */
.Header_3{
  text-align: center;
  font-size: larger;
}
.Address input[type="text"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 2px solid rgb(52, 153, 160);
  border-radius: 4px;
}

/* Submit Button Section */
.submit_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.submit_button input {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid rgb(52, 153, 160);
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 19vw;
}

.submit_button input:hover {
  background-color: #47864a34;
}

input::placeholder {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input:focus {
  outline: none;
}

/* Dropdown Placeholder Text Color */
.Patient_Details_Form select {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: gray;
}

/* Radio Buttons */
.Radio {
  margin: 8px 12px;
}
